<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackaton camera</title>
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_canvas {
            height: 100%;
        }

        #map-container {
            margin: 0;
            padding: 0;
            position: absolute; /*Can also be `fixed`*/
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<div id="map-container">
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div>
</body>
<footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdyxMmpY2Lla_zq4h0d_YIx-VgbLHSreY&sensor=true&libraries=visualization&.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>


        (function () {
            let windowHeight = $(window).height() - 50;
            let windowWidth = $(window).width() - 50;
            $("#map-container").height(windowHeight);
            $("#map-container").width(windowWidth);

            $(window).resize(function () {
                let dynamicHeight = $(this).height() - 50;
                let dynamicWidth = $(this).width() - 50;
                $("#map-container").height(dynamicHeight);
                $("#map-container").width(dynamicWidth);
            })
        })();


        function fitMarkersToScreen(map, heapData) {
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < heapData.length; i++) {
                bounds.extend(heapData[i]);
            }
            map.fitBounds(bounds);
        }


        var map = new google.maps.Map(
            document.getElementById("map_canvas"),
            {
                zoom: 3,
                center: new google.maps.LatLng(0, 0),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#212121"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#212121"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#181818"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#1b1b1b"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#2c2c2c"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#8a8a8a"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#373737"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#3c3c3c"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#4e4e4e"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#3d3d3d"
                            }
                        ]
                    }
                ]
            });

        var is_fitted = false;
        var heatmap = new google.maps.visualization.HeatmapLayer();
        function UpdateMap() {

            $.get("/api/v1/cameras/get-data/", function (data, status) {
                let heatMapData = [];
                $.each(data, function (key, value) {
                    //console.log(value.lat);
                    //console.log(value.pins);
                    $.each(value.pins, function (k, v) {
                        //console.log(v)
                        heatMapData.push(new google.maps.LatLng(v.lat, v.long))
                    })
                });
                
                heatmap.setOptions({radius: heatmap.get('20'), data:heatMapData});

                if (!is_fitted) {
                    fitMarkersToScreen(map, heatMapData);
                       heatmap.setMap(map);
                    is_fitted = true;
                }

            });

        }

        var intervalId = setInterval(function () {
            UpdateMap();
        }, 1000);
        UpdateMap();
    </script>
</footer>
</html>